<body>
        
        <div class="row">
            <div class="col-sm-12 col-md-3 shadow">
                <header class="row">
                    <div class="col-sm-12">
                        <h1 class="org-font org-title-size parabox-title-color-text pb-bajorrelieve">Parabox</h1>
                    </div>
                </header>
    
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="org-font parabox-title-color-text pb-bajorrelieve">Sky Rocketing your Dreams!</h1>
                    </div>
                </div>
    
            </div>
    
            <div class="col-sm-12 col-md-9">
    
                <div class="row">
                    <div class="col-sm-12 ">
                        <div style="height : 100vh; background:#dddddd;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class = "pb-h2 parabox-title-color-text org-font top-1em">Vista de Actividad</h2>
                                </div>
                            </div>
                            <div class="row top-1em">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <h4>Actividad X</h4>
                                    <div style="border:6px solid #f5f5f5; background:#ffffff; height: 48vh;">
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
    
                
            </div>
    
        </div>    