/* IMPORTS -----------------------------------------------------------------------------------------------------------*/

/* VARS --------------------------------------------------------------------------------------------------------------*/
:root {
    --pb-title-color       : #41CFE1;
    --pb-main-footer-color : #121B5E;
    --pb-title-color-dark  : #016F81;

    --pb-large-hero1-x     : center;
    --pb-medium-hero1-x    : -100vw;
    --pb-small-hero1-x     : -150vw;

    --pb-large-hero2-x     : center;
    --pb-medium-hero2-x    : -45vh;
    --pb-small-hero2-x     : -90vw;

}

/* FONTS -------------------------------------------------------------------------------------------------------------*/
html {
    font-family : "Fira Code", Hack, monospace;
    font-size   : 10px!important;
}

.org-font {
    font-family: orbitron, "Fira Code", Hack, monospace;
}

.org-title-size {
    font-size  : 3rem;
}

/* COLORS ------------------------------------------------------------------------------------------------------------*/
.parabox-title-color-text {
    color  :  var(--pb-title-color);
}

.pb-white-text {
    color  :  #ffffff;
}

.parabox-footer-background {
    background : var(--pb-main-footer-color );
}

/* IMAGES ------------------------------------------------------------------------------------------------------------*/
.welcome-heroine {
    background-image    : url("../img/welcome/welcome.jpg");
    background-size     : cover;
    background-repeat   : no-repeat;
    background-position: center center;
    width  : 100vw;
    height : 100vh;


}

.welcome-heroine-studing {
    background-image    : url("../img/welcome/master-it.jpg");
    background-size     : cover;
    background-repeat   : no-repeat;
    background-position: center center;
    width  : 100vw;
    height : 150vh;
}

/* SEPARATORS --------------------------------------------------------------------------------------------------------*/
.separator {
    border-bottom : 1px solid var(--pb-title-color);
}

/* SEMANTICS ---------------------------------------------------------------------------------------------------------*/
.welcome-footer-height{
    height : 50vh;
}

/* COMPONENTS---------------------------------------------------------------------------------------------------------*/

.input-login {
    background : transparent !important;
    outline    : none !important;
    width      : 10rem;
    color      : var(--pb-title-color);
    height     : 1.5rem;

    border-radius        : 4px;
    -moz-border-radius   : 4px;
    -webkit-border-radius: 4px;

    padding-left : 3px;
    padding-right: 3px;
}

.input-login-border {
    border : 1px solid var(--pb-title-color)!important;
}

/* GRIDS -------------------------------------------------------------------------------------------------------------*/
.pb-nav-grid-container {
    display : grid;
    grid-template-columns : 30% 50%;
}

.pb-nav-grid-centered-item {
    justify-self : center;
    align-self   : center;
}

/* HELPERS -----------------------------------------------------------------------------------------------------------*/

.pb-bajorrelieve {
    text-shadow: 1px 1px 1px var(--pb-title-color-dark);
}

.pb-centerV {
    align-items: center;
}

.pb-login-height {
    height     : 1.7rem;
}


.pb-call-to-action {
    font-size    : 6rem;
    word-wrap    : break-word;
}

#pb-login {
    background : transparent;
    border     : none;

}

#pb-hdr-wrapper h1 {
    display : inline-block;
}

#pb-hdr-wrapper span {
    margin-right : 1rem;
}

.pb-h2 {
    font-size : 2.8rem!important;
}

.pb_box {
    background : var(--pb-main-footer-color);
}

.pb-text {
    word-wrap : break-word;
    font-size : 1.75rem; 
}

p{
    white-space:normal;
    text-align : justify;
}

.top-1em {
    margin-top : 1em!important;
}

.top-11em {
    margin-top : 11em!important;
}

.padding0{
    padding : 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--pb-title-color);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--pb-title-color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--pb-title-color);
  }

.shadow {
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);
}

.pb-box {
     border : 1px solid var(--pb-title-color);
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.34);    

    border-radius :3px;
}

.pb-100 {
    width : 100%;
}