<body>
    <header class="welcome-heroine">
        <div class="container">
            <form id="pb-login" class="row pb-centerV" onclick="return false;">
                <div class="col-sm-12 col-md-3">
                    <h1 class="org-font org-title-size parabox-title-color-text pb-bajorrelieve">Parabox</h1>
                </div>

                <div class="col-sm-12 col-md-3">
                    <input  type="text"     id="pb-user"  class="input-login input-login-border parabox-title-color-text" placeholder="username" />
                    <input  type="password" id="pb-pass"  class="input-login input-login-border parabox-title-color-text" placeholder="password" />
                    <button type="button"   id="pb-login" class="input-login input-login-border parabox-title-color-text padding0"><span class="parabox-title-color-text">LOGIN</span></button>
                </div>
            </form>
        </div>
        <div class = "separator"></div>

        <div class = "row">
            <div class = "col-sm-12 col-md-6">
                <h2 class = "pb-h2 parabox-title-color-text org-font top-1em">¿Por que estudiar no puede ser entretenido?</h2>
                <div>
                    <p class="org-font parabox-title-color-text pb-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="welcome-heroine-studing">       
        <div class = "row ">
                <div class="col-sm-2 col-md-6">                        
                </div>
                <div class = "col-sm-10 col-md-6">
                    <h2 class = "pb-h2 pb-white-text org-font top-11em">De hecho, ¡Si puede!</h2>
                    <div>
                        <p class="org-font pb-white-text pb-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="welcome-footer-height parabox-footer-background">
    </footer>
