<body>
    <header class="welcome-heroine">
        <div class="container">
            <form id="pb-login" class="row pb-centerV" onclick="return false;">
                <div class="col-sm-12 col-md-3">
                    <h1 class="org-font org-title-size parabox-title-color-text pb-bajorrelieve">Parabox</h1>
                </div>

                <input id    = "pb-login-user"
                       type  = "text"
                       class = "input-login input-login-border radius6 org-font col-sm-12 col-md-2 pb-login-height"
                       placeholder="" />
                <input id    = "pb-login-pass"
                       type  = "password"
                       class = "input-login input-login-border radius6 org-font col-sm-12 col-md-2 pb-login-height"
                       placeholder="" />
            </form>
        </div>
        <div class="separator"></div>
    </header>

    <div class="welcome-heroine-studing">

    </div>

    <footer class="welcome-footer-height parabox-footer-background">
    </footer>
