<style>
    
    .reg-text {
        font-size: 1.55rem;
    }    

    #form-container {
        background-image    : url("[IMG]welcome/welcome.jpg");
        background-size     : cover;
        background-repeat   : no-repeat;
        background-position: center center;
        
        
    }

    .welcome-heroine-studing-reg {
        background-image    : url("[IMG]welcome/master-it.jpg");
        background-size     : cover;
        background-repeat   : no-repeat;
        background-position: center center;
        width  : 100vw;
        height : 100vh;
    }

    form {
        background-color:transparent !important;
        border : none !important;
    }

</style>
<body class="welcome-heroine-studing-reg" style="display:flex; align-items:center; justify-content:center; min-width:290px; ">
            
    <div id="form-container" class="pb-box col-sm-8 col-md-4 reg-text ng-reg parabox-footer-background " style="margin-top:2rem;">
        <a href="{home}" ><h1 class="org-font parabox-title-color-text ">PARABOX</h1></a>
        <h2 class="org-font parabox-title-color-text ">Sky Rocketing your Dreams!</h2>
        <h6 class="reg-text org-font parabox-title-color-text">Empieza por registrar tu cuenta</h6>
        
        <form id="frm-register" class="reg-text" onsubmit="return false;">                        
            <div class="row">
                <div class="col-sm-6 reg-text">
                    <p>
                        <label for="reg-user" class = "input-login reg-text">Nombre de usuario</label>
                    </p>
                    <p>
                        <input id="reg-user" class = "input-login input-login-border pb-100 reg-text " style="padding:1em;" type="text" placeholder="Some great username!" />
                    </p>
                    <p>
                        <label for="reg-correo"  class = "input-login reg-text">Correo</label>
                    </p>
                    <p>
                        <input id="reg-correo" class = "input-login input-login-border pb-100 reg-text " style="padding:1em;" type="email" placeholder="yourcool@email.tld" />
                    </p>
                    <p>
                        <label for="reg-pass" class = "input-login reg-text">Password</label>
                    </p>
                    <p>
                        <input id="reg-pass" class = "input-login input-login-border pb-100 reg-text "  style="padding:1em;" type="password" placeholder="a strong password" />
                    </p>
                    <p>
                        <button type="button" id="pb-register" class="pb-100 reg-text "  style="background: #222288; color: white;"><span class="parabox-title-color-text" >REGISTRAR CUENTA</span></button>
                    </p>
                    <input type="submit" style="display:none;" />
                </div>
            </div>
        </form>
    </div>

<script src="[JS]pb_selector.js"></script>
<script src="[JS]pb_ajax.js"></script>

<script>

let register = (function(window, document, undefined) {
    let _btnReg;
    
    function _load() {
        _btnReg = __("#pb-register");
    }
    
    function _getResponsePost(r) {
        if (r && r.response) {
            const _response = JSON.parse(r.response);

            if (_response.success != undefined && _response.success ===true) {
                alert("Usuario registrado con exito. Ya puede ingresar a su cuenta.");
            } else if (_response.success != undefined && _response.success === false) {
                _response.msg = ( _response.msg ? _response.msg : "Algo salió mal y el servidor no devolvio razones." );
                alert(_response.msg );
            } else if (_response.success == undefined) {
                alert("Algo salió mal y el servidor no devolvio razones.");
            }
        }
        
    }

    function _registerHandler() {
        let _userName = __("#reg-user").elems,
            _mail     = __("#reg-correo").elems,
            _password = __("#reg-pass").elems;

        let _ajax = new _Request({
            url       : "/register/process",
            method    : "POST",
            whenReady : _getResponsePost
        });
        
        let _payLoad = {
                "username" : _userName.value,
                "mail"     : _mail.value,
                "password" : _password.value
            };

        _ajax.useDefaultBehaviour = false;
        _ajax.open()
             .send(_payLoad);
    }

    function _listeners() {
        _btnReg.on("click", function(e){
            _registerHandler();
        });
    }

    function _run() {
        _load();
        _listeners();
    }

    let publicApi = {};

    publicApi.run = _run;

    return publicApi;
})(window, document)

window.onload = function(e) {
    register.run();
};

</script>
